.urlForm {
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em;
    border: solid black 1px;
}

.urlForm__input {
    width: 25em;
    font-size: 1.5em;
    padding: 0 0.2em;
}

.urlForm__buttons {
    display: flex;
    justify-content: center;
}

.urlForm__button {
    font-size: 1em;
    margin: 0.5em 0.25em 0 0.25em;
}

.urlForm__button--submit {
    font-weight: bold;
}